// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	font-family: 'Caveat', cursive;
	text-align: center;
	background-image: url("blog_background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.logo {
    margin: 25px;
}

h1 {
    font-size: 45px;
}

a {
	text-decoration: none;
	color: #3f51b5;
	font-size: 18px;
}

p {
	font-size: 20px;
	margin: 5px;
}